.form-group{
  height: 25px;
}

.dropdown-toggle{
  height:25px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#help{
  position: relative;
  top: -25px;
  margin-top: 0;
  margin-bottom: 0;
}

#nav{
  width: 50%;
}

.logo{
  height: 25px;
  padding-left:15px;
}

.navlinks{
  padding-top:0 !important;
  padding-bottom:0 !important;
  height: 25px;
}

.logo2{
  width: 220px;
}
.container-fluid{
  padding: 0;
}

.navbar-brand{
  padding: 0;
}

#bs-example-navbar-collapse-1{
  background-color: black;
  height:25px !important;
}

.form-control{
  position: relative;
  bottom:-25px;
  right:-250px;
  height: 25px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-header h4 {
	margin-right: 50px;
}

button {
	margin: 5px;
}

.nav {
	margin: 0;
	width: 100%;
	padding: 0;
}

element.style {
}

#sidebar .module.community-bulletin {
  padding: 10px;
  background-color: #fff8dc;
  border: 1px solid #e0dcbf;
  color: #444;
}
.module.community-bulletin {
  padding: 10px;
  background-color: #fff8dc;
  border: 1px solid #e0dcbf;
}
.module {
  word-wrap: break-word;
}
.module {
  margin-bottom: 1.5em;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
user agent stylesheetdiv {
  display: block;
}
Inherited from div#sidebar
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
Inherited from div#content.snippet-hidden
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
Inherited from div.container
.container {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
Inherited from body.home-page.new-topbar
body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    color: #222;
    background: #fff;
    min-width: 1030px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
Inherited from html
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;		